body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: hsl(0,0%,90%);
}

#calculator {
    font-family: Orbitron;
    background: rgb(161,161,161);
    background: linear-gradient(360deg, rgba(161,161,161,1) 10%, rgba(255,255,255,1) 48%, rgba(176,176,176,1) 98%);   
    border-radius: 15px;
    border: 6px solid hsl(0, 0%, 70%);
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 96%);
    color: hsl(251, 100%, 50%);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 6px solid hsl(251, 100%, 50%);
    background-color: hsl(0, 1%, 68%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color: hsl(233, 100%, 71%);
}

button:active{
    background-color: hsl(233, 100%, 58%);
}

.operator-btn{
    background-color: hsl(251, 100%, 50%);
}
